body {
    background-color: black;
    border-color: rgb(47, 51, 54);
    font-family: "Arial";
    border-style: solid;
    color: white;
    padding-left: 16px;
}

.wd-search {
    border-radius: 50px;
    background-color: rgb(47, 51, 54);
    color: white;
    font-size: 15px;
    width: 80%;
    height: 30px;
    border-style: none;
    padding-top: 4px;
    padding-left: 40px;
}

.wd-gear {
    content: "\2699";
    margin-left: 12px;
    font-size: 33px;
    color: rgb(29, 161, 242);
    text-decoration: none;
    position: absolute;
}

.wd-nav-bar {
    border-bottom: solid 4px;
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    font-weight: bold;
}

.wd-nav-bar .wd-selected {
    color: rgb(29, 161, 242);
    font-size: 15px;
    padding-bottom: 16px;
    border-bottom: solid 4px;
}

/*For all "a" elements that are within an "li" element, which is within the class "wd-nav-bar".*/
.wd-nav-bar li a {
    text-decoration: none;
    font-size: 15px;
    padding: 0 16px 0 16px;
}

.wd-nav-bar .wd-selected a {
    font-size: 15px;
    color: rgb(29, 161, 242);
}

.wd-nav-bar .wd-unselected a {
    font-size: 15px;
    color: rgb(110, 118, 125);
}

.wd-divider {
    color: rgb(110, 118, 125);
    background-color: rgb(47, 51, 59);
    border: solid 1px;
}

.wd-post {
    clear: both;
    padding: 16px;
}

.wd-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-title {
    color: white;
    font-size: 13px;
}

.wd-num {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-white-dots {
    color: white;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 16px;
}

.wd-grey-dots {
    color: rgb(110, 118, 125);
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 16px;
}

.wd-author {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.wd-time {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-img {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 16px;
    border-radius: 10%;
}
