.position-absolute {
    margin-top: 8px;
    margin-left: 11px;
}

.row p{
    color: grey;
    margin-left: 2px;
    font-size: 16px; /* Set the font size */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis if the text overflows */
}
